{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Account Details{% endblock %}
{% block content %}

<form class="account-form p-4 rounded col-lg-10 mx-auto" action="." method="post">
    {% csrf_token %}
    {% crispy form %}
</form>

<form class="account-form p-4 rounded col-lg-10 mx-auto" action="{% url "account:account_delete" %}" method="post">
    {% csrf_token %}
    <h3 class="fw-light">Delete Profile</h1>
    <p class="lead text-muted">Are you sure you want to delete your account?</p>
    <div class="col text-center"><button class="w-50 mb-2 btn btn-lg rounded-3 btn-danger" type="submit">Delete</button></div>
</form>

{% endblock %}