{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<main>
    <div class="album py-5 bg-light">
        <section class="py-5 text-center container">
            <div class="row py-lg-2">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Your Dashboard</h1>
                    <p class="lead text-muted">Welcome {{request.user.user_name}}</p>
                    <p>
                        <a href="{% url 'account:change_details' %}" class="btn btn-primary my-2">Change Details</a>
                    </p>
                </div>
                {% if orders %}
                {% for order in orders %}
                <div class="row g-3">

                    <div class="col-12 bg-light p-3 d-flex justify-content-between">
                        <div class="d-flex d-flex-inline">

                            <div class="pe-3">{{ order.created }}</div>
                            <div class="dropdown">
                                <a class="text-reset text-decoration-none dropdown-toggle" href="#" role="link"
                                    id="dropdownLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dispatched to
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownLink">
                                    <li class="item small">{{order.full_name}}</li>
                                    <li class="item small">{{order.address1}}</li>
                                    <li class="item small">{{order.address2}}</li>
                                    <li class="item small">{{order.post_code}}</li>
                                </ul>
                            </div>

                        </div>
                        <div class="text-end">
                            Total paid: <span class="fw-bold">${{ order.total_paid }}</span>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-4 order-md-last p-0 order-3">
                        <div class="d-grid gap-2 ">
                            <button class="btn btn-warning" type="button">Problem with order</button>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-8 p-0">
                        {% for item in order.items.all %}
                        <div class="card mb-3 border-0">
                            <a class="text-decoration-none" href="{{ item.product.get_abs_url }}">
                                <div class="row g-0">
                                    <div class="col-md-2 d-none d-md-block">
                                        {% for image in item.product.product_image.all %}
                                        {% if image.is_feature %}
                                        <img class="img-fluid" style="width:90px" src="{% static image.image.url %}"/>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body p-1">
                                            <p class="card-text large">{{item.product|title}}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="container">
                    <div class="fw-light h3 text-center">You don't have any orders yet.</div>
                </div>
                {% endif %}
            </div>
        </section>
    </div>
</main>

{% endblock %}