{% extends "base.html" %}
{% load static %}
{% block title %}Kicksale{% endblock %}
{% block content %}


<section class="py-5 text-center container">
    <div class="row py-lg-2">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Welcome to Kicksale</h1>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="pb-2 h2">Trending</div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% if not products %}
                <div class="col-12 text-center">There are currently no available products.</div>
            {% else %}
            {% for product in products %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">

                        {% for image in product.product_image.all %}
                        {% if image.is_feature %}
                        <a href="{{ product.get_abs_url }}">
                            <img class="img-fluid" alt="Responsive image" src="{% static  image.image.url %}">
                        </a>
                        {% endif %}
                        {% endfor %}

                        <p class="card-text">
                            <a class="text-dark text-decoration-none"
                                href="{{ product.get_abs_url }}">{{ product.title }}</a>
                        </p>

                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">${{product.price}}</small>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
            {% endif %}

        </div>
    </div>
</div>


{% endblock %}