{% extends "base.html" %}
{% load static %}
{% block title %}Payment{% endblock %}
{% block content %}

<div class="container">
    <div class="py-5 text-center">
        <div id="payment-form" class="col-12 col-lg-6 mx-auto">
            <h4 class="mb-3">Billing address</h4>
            <div id="card-errors" class="a" role="alert"></div>
            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="mb-3">
                        <label for="fullName">Full name</label>
                        <input type="text" class="form-control" id="fullName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Valid full name is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Country</label>
                        <select class="custom-select d-block w-100" id="country" required>
                            <option value="">Choose...</option>
                            <option>Canada</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">State</label>
                        <select class="custom-select d-block w-100" id="state" required>
                            <option value="">Choose...</option>
                            <option>Alberta</option>
                            <option>British Columbia</option>
                            <option>New Brunswick</option>
                            <option>Newfoundland and Labrador</option>
                            <option>Northwest Territories</option>
                            <option>Nunavut</option>
                            <option>Ontario</option>
                            <option>Quebec</option>
                            <option>Saskatchewan</option>
                            <option>Yukon</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" id="zip" placeholder="" required>
                        <div class="invalid-feedback">
                            Zip code required.
                        </div>
                    </div>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="same-address">
                    <label class="custom-control-label" for="same-address">Shipping address is the same as my billing
                        address</label>
                </div>
                <!--
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="save-info">
                    <label class="custom-control-label" for="save-info">Save this information for next time</label>
                </div>
                -->
                <hr class="mb-4">
                <h4 class="mb-3">Payment</h4>
                <label for="card-element">Credit or debit card</label>

                <div id="card-element" class="form-control form-control-payment">
                    <!-- Payments will be here -->
                </div>

                <hr style="color:#fff"/>

                <button id="submit" class="btn btn-primary w-50 btn-lg btn-block"
                    data-secret="{{ client_secret }}">Pay</button>
            </form>
        </div>
    </div>
</div>

<script>
    var STRIPE_PUBLISHABLE_KEY = '{{STRIPE_PUBLISHABLE_KEY}}'
    var CSRF_TOKEN = '{{ csrf_token }}';
</script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'payment/index.js' %}" data-rel-js></script>

{% endblock %}